body {
    font-family: monospace, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/img/bk.png);
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/bk.png);
}

.content {
    border-radius: 15px;
    background-color: #0d6ebed8;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0 0 100px rgba(253, 252, 252, 0.103);
    animation: shadowTransition 3s infinite alternate;
    margin-bottom: 150px;
    z-index: 2;
}
h1, h3, p {
  text-align: center; /* Centraliza os textos */
  margin: 20px ;
}

img{
    height: 400px;
    
}
#carousel {
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
}
main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 150px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
  }
  
  div.item {
    position: absolute;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: transform 0.5s ease, z-index 0.5s ease; /* Suavidade ao rotacionar */
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}

  
  div.item:nth-of-type(1) {
    --offset: 1;

  }
  div.item:nth-of-type(2) {
    --offset: 2;
  
  }
  div.item:nth-of-type(3) {
    --offset: 3;
   
  }
  div.item:nth-of-type(4) {
    --offset: 4;
    
  }
  div.item:nth-of-type(5) {
    --offset: 5;

  }
  div.item:nth-of-type(6) {
    --offset: 6;

  }
  div.item:nth-of-type(7) {
    --offset: 7;

  }
  div.item:nth-of-type(8) {
    --offset: 8;

  }
  div.item:nth-of-type(9) {
    --offset: 9;

  }
  
  .nav-button {
    position: absolute;
    z-index: 15;
    top: 20%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}
  
